body {
background-color:#fff;
padding:0;
margin:0;
font-family: 'Nunito', sans-serif;
}

img {
  border: none;
  margin: 0;
  padding: 0;
}


.header-part  {
  background-color: #000 !important;
  color: #fff !important;
  font-size: 15px;
  font-weight: bold;
  width: 100%;

}

.menu {
  line-height: 20px;
  padding: 10px;
}

.menu ul {
  list-style: none;
  line-height: 20px;
  margin: 0;
}

.menu li {
  display: inline-block;
  vertical-align: middle;
  line-height: 20px;
  margin-left: 20px;
  font-size: 13px;
}


.logo_area {
  padding: 20px;
}

.container-fluid  {
  padding-left: 0 !important;
}

.middle   {
  background-color: #DFDFDF;
  min-height: 65vh;
}

.middle-rhs {
  background-color: #fff;
  width: 100%;
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 30px;
  float: left;
  font-size: 14px;
  padding-left: 40px;
  margin-bottom: 30px;
  box-shadow: 1px 1px 1px #666;
}

.middle-lhs h3 {
    color:#F69147;
    font-weight: bold;
    font-size: 29px;
    margin-top: 40px;
}

.middle-lhs p {
    width: 90%;
}

.middle-rhs h4 {
  color: #F69147;
  font-weight: bold;
  font-size: 18px;
  width: 100%;
}

.form-box  {
  margin-top: 20px;
}

.form-box p{
  font-weight: 600;
}

.form-txt {
  border: 1px solid #ccc;
  width: 45%;
  padding: 10px;
  margin-right: 20px;
  font-size: 13px;
}

.form-txt2 {
  border: 1px solid #ccc;
  width: 95%;
  padding: 10px;
  margin-right: 20px;
  font-size: 14px;
}


.form-txt3 {
  border: 1px solid #ccc;
  width: 45%;
  padding: 10px;
  margin-right: 20px;
  font-size: 14px;
}

  .form-option {
    line-height: 20px;
  }

  .button {
    background-color: #F69147;
    border: none;
    float: right;
    width: 20%;
    font-weight: lighter;
    font-size: 15px;
    color: #fff;
      padding: 10px;
      border-radius:2px;
      margin-right: 20px;
  }



  .footer-container  {
    
    bottom: 0;
    width: 100%;
    left: 0;
    
}

  .footer {
    background-color: #000;
    border-top: 2px solid #F69147;
    bottom: 0;
    height: 150px;
  }


  .footer-top-left {
    margin-top: 30px;
  }

  .footer-top-left-txt {
    color: #787878;
    font-size: 18px;
    margin-top: 5px;
  }

  .footer-top-left-txt a{
    text-decoration: none;
    color: #787878;
  }

  .footer-bottom  {
    background-color: #f69147;
  }

  .footer-bottom-center {
    padding-top: 40px;
    font-size: 12px;
    color: #787878;
  }

  .footer-bottom-right {
    float: right;
    padding-top: 20px;
  }

  .bottom-part {
    background-color: #f69147;
    font-size: 13px;
    text-align: center;
    padding: 10px;
}



.courier-text {
  padding-top: 60px;
  width: 100%;
  text-align: center;
}

  .courier  {
    background-color: #fff;
    width: 100%;
    border: 1px solid #ccc;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .courier1  {
    background-color: #fff;
    width: 100%;
    border: 1px solid #ccc;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .courier2  {
    background-color: #fff;
    width: 100%;
    border: 1px solid #ccc;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .courier3  {
    background-color: #fff;
    width: 100%;
    border: 1px solid #ccc;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .courier4  {
    background-color: #fff;
    width: 100%;
    border: 1px solid #ccc;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .courier5  {
    background-color: #fff;
    width: 100%;
    border: 1px solid #ccc;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .courier5  {
    background-color: #fff;
    width: 100%;
    border: 1px solid #ccc;
    /* margin-top: 70px; */
    margin-bottom: 30px;
  }

  .courier-logo   {
    padding-top: 50px;
  }

  .courier-name {
    margin-top: 60px;
    font-weight: bold;
  }

  .price h3 {
    margin-top: 3px;
    font-weight: bold;
    color: #F69147; 
  }



  .select  {
    background-color: #F69147;
    padding: 20px;
    font-weight: bold;
  }

  .select h4 {
    font-size: 16px;
    font-weight: bold;
  }

  div.courier {
  display: block;
  text-decoration: none;
  }

  div.courier1 {
  display: block;
  text-decoration: none;
  }

  div.courier2 {
  display: block;
  text-decoration: none;
  }

  div.courier3 {
  display: block;
  text-decoration: none;
  }

  div.courier4 {
  display: block;
  text-decoration: none;
  }

  div.courier5 {
    display: block;
    text-decoration: none;
    }

a  div.courier {
  display: block;
  background-color: #fff;
  color: #000;
  text-decoration: none;
}

a  div.courier1 {
  display: block;
  background-color: #fff;
  color: #000;
  text-decoration: none;
}

a  div.courier2 {
  display: block;
  background-color: #fff;
  color: #000;
  text-decoration: none;
}

a  div.courier3 {
  display: block;
  background-color: #fff;
  color: #000;
  text-decoration: none;
}

a  div.courier4 {
  display: block;
  background-color: #fff;
  color: #000;
  text-decoration: none;
}

a  div.courier5 {
  display: block;
  background-color: #fff;
  color: #000;
  text-decoration: none;
}

a:hover div.courier {
  display: block;
  border: 1px solid #f69147;
  text-decoration: none;
  box-shadow: 1px 1px 1px 1px #999;
}

a:hover div.courier1 {
  display: block;
  border: 1px solid #f69147;
  text-decoration: none;
  box-shadow: 1px 1px 1px 1px #999;
}

a:hover div.courier2 {
  display: block;
  border: 1px solid #f69147;
  text-decoration: none;
  box-shadow: 1px 1px 1px 1px #999;
}

a:hover div.courier3 {
  display: block;
  border: 1px solid #f69147;
  text-decoration: none;
  box-shadow: 1px 1px 1px 1px #999;
}

a:hover div.courier4 {
  display: block;
  border: 1px solid #f69147;
  text-decoration: none;
  box-shadow: 1px 1px 1px 1px #999;
}

a:hover div.courier5 {
  display: block;
  border: 1px solid #f69147;
  text-decoration: none;
  box-shadow: 1px 1px 1px 1px #999;
}


a:hover div.courier h4 {
  color: #fff;
}

a:hover div.courier1 h4 {
  color: #fff;
}

a:hover div.courier2 h4 {
  color: #fff;
}

a:hover div.courier3 h4 {
  color: #fff;
}

a:hover div.courier4 h4 {
  color: #fff;
}

a:hover div.courier5 h4 {
  color: #fff;
}


.courier-text2 {
  padding-top: 60px;
  width: 100%;
  text-align: center;
}

  /* .courier2  {
    background-color: #fff;
    width: 100%;
    border: 1px solid #ccc;
    margin-top: 70px;
    margin-bottom: 30px;
  } */

  .courier-logo2  {
    padding-top: 50px;
  }

  .courier-name2 {
    margin-top: 34px;
    font-weight: bold;
  }

  .price2 h3 {
    margin-top: 3px;
    font-weight: bold;
    color: #F69147;
  }

  .select2  {
    background-color: #F69147;
    margin-top: 100px;
    padding: 20px;
    font-weight: bold;
  }

  .select2 h4 {
    font-size: 16px;
    font-weight: bold;
  }

  div.courier2 {
  display: block;
  text-decoration: none;
}

a  div.courier2 {
  display: block;
  background-color: #fff;
  color: #000;
  text-decoration: none;
}


a:hover div.courier2{
  display: block;
  border: 1px solid #f69147;
  text-decoration: none;
  box-shadow: 1px 1px 1px 1px #999;
}

a:hover div.courier2 h4 {
  color: #fff;
}


.details-middle {
  background-color: #f0f0f0;
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 40px;
}

.middle-lhs2 h4 {
  margin-top: 10px;
}

.middle-rhs2 {
  margin-top: 68px;
}

.middle-rhs3 {
  margin-top: 0px;
}


.input-style  {
  margin-top: 20px;
  font-size: 13px;
}

.form_space  {
  padding: 10px;
  width: 100%;
  font-size: 13px;
}

.textarea {
  width: 100%;
  padding-bottom: 90px;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 13px;
}

.footer-top-left-txt {
  font-size: 17px;
}

@media only screen and (max-width: 600px)
{

  .middle-rhs2 {
    margin-top: 20px;
  }

  .middle-rhs3 {
    margin-top: 10px;
  }

  .middle-rhs {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .middle-lhs {
    margin-top: 10px;
  }
  
  .middle-lhs h3 {
    margin-top: 30px;
    font-size: 23px;
  }
  
  .form-txt{
    width: 100%;
  }
  
  .form-txt2{
      width: 100%;
  }
  
  .form-txt3{
      width: 100%;
      margin-top: 10px;
  }
  
  .button {
      margin-right: 0px;
  }

  .footer-bottom-right {
    float: left;
    align-items: center;
  }

  .courier-logo   {
    padding-top: 20px;
  }

  .courier {
    width: 60%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .courier1 {
    width: 60%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .courier2 {
    width: 60%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .courier3 {
    width: 60%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .courier4 {
    width: 60%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .courier5 {
    width: 60%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .courier-text {
    font-size: 23px;
  }

  .courier-name {
    margin-top: 30px;
    font-weight: bold;
  }

  .price h3 {
    margin-top: 10px;
  }

  .select {
    padding: 10px;
    margin-top: 70px;
  }


  .courier-logo2   {
    padding-top: 20px;
  }

  .courier2 {
    width: 60%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .courier3 {
    width: 60%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .courier4 {
    width: 60%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .courier5 {
    width: 60%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .courier-text2 {
    font-size: 23px;
  }

  .courier-name2 {
    margin-top: 30px;
    font-weight: bold;
  }

  .price2 h3 {
    margin-top: 10px;
  }

  .select2 {
    padding: 10px;
    margin-top: 70px;
  }

  .footer {
    height: auto;
}
}


.details-middle {
  background-color: #f0f0f0;
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 40px;
}

.middle-lhs2 h4 {
  margin-top: 10px;
}

.middle-rhs2 {
  margin-top: 68px;
}

.middle-rhs3 {
  margin-top: 0px;
}


.input-style  {
  margin-top: 20px;
  font-size: 13px;
}


.form_space  {
  padding: 10px;
  width: 100%;
  font-size: 13px;
}



.textarea {
  width: 100%;
  padding-bottom: 90px;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 13px;
}

.button2  {
  background-color: #f69147;
  padding: 10px;
  float: right;
  border: none;
  color: #fff;
  width: 30%;
  font-weight: bold;
  font-size: 14px;
}


/** my code **/
.second-page {
  display: none;
}

div#loader {
  display:block;
}

.third-page {
  display: none;
}

.fourth-page {
  display: none;
}

.first-page {
  display: block;
}



.btn-next{
  font-weight: bold;
}

form .form-box .input-error {
  border-color: #F69147;
}

form .middle-lhs2 .input-error{
  border-color: #F69147;
}

form .middle-rhs2 .input-error {
    border-color: #F69147;
}

.span_1_of_5 {
  padding-right: 0px; 
  padding-left: 0px;
}


/* Loader */
.loader2 {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #f69147;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}