html, body {
  height: 100%;
    padding: 0px !important;
}

.container-fluid{
    padding: 0px;
}


/*  2.0 body
/*--------------------------------*/
.body_image{
    padding: 0px !important;
    width: 100%;

}

.review_writing{
    border: 1px solid #E9E9E9; 
    width: 96%; 
    padding: 20px; 
    float: left;
    background-color: #E9E9E9;
    
}

.review_header h2{
    font-size: 32px;
    color: #FFB800;
}

.checked {
    color: #FFAD00;
}


.comment_header h5{
    font-weight: bolder;
}

.comment_body h4{
    font-size: 15px;
    line-height: 0.6cm;
    text-align: justify;
}

 .efs-input{
    padding: 7px;
    width: 100%;
    }

.efs-input2{
    padding: 7px;
    width: 100%;
    background-color: #F69146;
    color: #fff;
    height: 50px;
}

.efs-input4{
    padding: 20px;
    width: 80%;
    background-color: #F69146;
    color: #fff;
    height: 50px;
    margin-left: 60px;
}


.efs-input3{
    padding: 7px;
    width: 100%;
    margin-top: 20px;
}

.efs-input5{
    padding: 20px;
    width: 80%;
    margin-top: 20px;
    margin-left: 60px;
}

input[type=text1] {
    outline: none;
}


input[type=text2] {
    
    border: 1px solid #E9E9E9;
    outline: none;
}

input[type=text] {
    border: none;
    border-bottom: 1px solid #E9E9E9;
    outline: none;
}

 .detail-form-space{
     width: 100%;
     margin-top: 25px;
    }

 .detail-form-space1{
     width: 100%;
     margin-top: 15px;
    }

.butttonarea2 {
  background-color: #FFAD00;
  border: none;
  padding: 10px;
  width: 100px;
  font-weight: bolder;
   float: right;
  font-size: 13px;
    color: #000;
    margin-top: 25px;
    margin-bottom: 25px;
}

.rate {
    float: left;
    height: 46px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.rate1 {
    float: left;
    height: 25px;
}
.rate1:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate1:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:25px;
    color:#ccc;
}
.rate1:not(:checked) > label:before {
    content: '★ ';
}
.rate1 > input:checked ~ label {
    color: #ffc700;    
}
.rate1:not(:checked) > label:hover,
.rate1:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate1 > input:checked + label:hover,
.rate1 > input:checked + label:hover ~ label,
.rate1 > input:checked ~ label:hover,
.rate1 > input:checked ~ label:hover ~ label,
.rate1 > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.review_header{
    margin-top: 40px;
}

.review_header1{
    margin-left: 60px;
}
.coupon {
    padding:  30px 10px 0px 60px;
}
.coupon_header h2{
    color: #F69146;
    font-weight: bolder;
}
.feedback {
    padding:  30px 10px 60px 60px;
}
.feedback_header h2{
    color: #F69146;
    font-weight: bolder;
}
.review_writing_body_rating{

}
.review_writing_body_rating1{
    margin-top: -70px;
    margin-left: 60px;
}
.feedback_body {
  
}


body {

padding:0;
margin:0;
}


.buttton {
  background-color: #000;
  border: none;
  margin-top: 20px;
  padding: 10px;
  width: 200px;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 13px;
    color: #fff;
    font-size: 14px;
    float: right;
    margin-right: 53px;
}



.rhs2  {
  background-color: #fff;
  border: 1px solid #ccc;
  width:100%;
  margin-top: 20px;
  float: left;
  box-shadow: 2px 1px 1px #ccc;
  border-radius: 5px;
    margin-bottom: 10px;
}


.containermini{
    width: 50%;
    margin: 0 auto;     
}


.complete_header h1{
   text-align: center;
    font-weight: bolder;
    font-size: 40px;
}

.complete_body h5{
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
}

.complete_order{
    margin-bottom: 10px;
}
    



@media only screen and (max-width: 600px) {
    .ratings_star{
        margin-top: -7px;
    }
    
     .rhs2{
     width: 100%;  
     }
     .containermini{
      width: 100%;
      margin: 0 auto;
     }
     
    .buttton{
        margin-right: 56px;
    }
    
    .feedback_header h2{
        font-size: 28px;
    }
    
    .feedback {
        padding: 20px;
        margin-left: 20px;
    }

    .coupon_header h2{
        font-size: 28px;
    }
    .coupon {
        padding: 20px;
        margin-left: 20px;
    }

    .review_writing_body_rating1{
        padding: 20px;
        margin-left: 20px;
        margin-top: -50px;
    }
    .review_header1{
         padding: 20px;
        margin-left: 20px;
        margin-top: -40px;
    }
    .efs-input4{
         padding: 20px;
        margin-left: 40px;
        margin-top: -50px;
    }
    
    .efs-input5{
         padding: 20px;
        margin-left: 40px;
        margin-top: 10px;
    }
}